*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat",sans-serif;
}
:root{
    --color1: #0A3139;
    --color2: #1B749C;
    --color3:#6D6B6B;
}
@font-face {
    font-family: "Montserrat";
    src: url("../Montserrat,Roboto/Montserrat/static/Montserrat-ExtraBold.ttf") format("truetype");
}
nav{
    width: 100%;
    height: 5vw;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 99;
    top:0;
    margin-bottom: 5vw;
    background-color: white;
}
nav img{
    margin-left: 5vw;
    width: 7vh;
    height: 7vh;
    border-radius: 30%;
}
nav li{
    display: flex;
    gap: 5vw;
    margin-right: 5vw;
    list-style: none;
}
nav li ul a{
    text-decoration: none;
    color: black;
}
main{
    padding-left: 5vw;
    /* margin-top: 10vw; */
    height: 50vw;
    /* width: 60vw; */
    /* position: relative;    */

}
main h1{
    /* margin-top: 5vw; */
    width: 55vw;
    height: 15vw;
    font-weight: 800;
    font-size: 3rem ;
    /* background-color: red; */
}
main h5{
    color:var(--color3);
    height: 5vw;
}
.cont{
    display: flex;
    gap: 1rem;
}
.btn{
    color: white;
    width: 15vw;
    padding: 1vw;
    border-radius: 10px;
    border: none;
}
.btn1{
    background-color: var(--color2);
}
.btn2{
   background-color: var(--color1);
}
main .mainImg{
    width: 25vw;
    height: 30vw;
    position: absolute;
    top: 7vw;
    right: 5vw;
    z-index: 0;
}
main .service{
    width: 55vw;
    height: 15vw;
    /* background-color: rebeccapurple; */
    padding-top: 8vw;
    display: flex;
    gap: 2rem;
}

main .service .servicetxt img{
    width: 18vw;
    height: 15vw;
    border-radius: 10px;
    position: relative;   
    z-index: 0;           
}

main .service .servicetxt h2{
    width: 18vw;
    font-size: 0.8rem;
    position: relative;   
    z-index: 1;           
    margin-top: -5vw;
    background-color: rgba(0, 0, 0, 0.386);
    color: white;
    text-align: center;
    padding: 1rem;
}
main .service span{
    margin-left: 3vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
main .service span h2{
    width: 50vh;
    /* background-color: red; */
}
main .service span p{
    color: var(--color3);
}
main .service span button{
    background-color: var(--color1);
    color: white;
}