
/* body{
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5rem;
    height: 500vw;
}
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.intro h1{
    text-align: center;
    font-weight: 800;
    font-size: var(--h1);
    color: black;
}
.intro h2{
    width: 40vw;
    font-size: 1rem;
    color: var(--color5);
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5rem;
}

.cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 40vw;
    gap: 5rem;
    /* border: 0.5px solid var(--color5); */
    background-color: white;
    /* align-items: center; */
}
.cont h2{
    color: var(--color2);
}
.cont img{
   width: 40vw;
   height: 80%;
   /* border: 1rem solid var(--color2); */
   border-radius: var(--radius);
}
.cont .details{
   width: 30%;
   display: flex;
   flex-direction: column;
   /* justify-content: center; */
   /* align-items: center; */
   gap: 3rem;
}
.cont .details1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.cont .details1 p{
    color: var(--color5);
    width: 30vw;
    font-size: 0.9rem;
}
