/* body{
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} */
main{
    padding-left: 5vw;
    /* margin-top: 10vw; */
    width: 100%;
    height: 100%;
    /* width: 60vw; */
    /* position: relative;    */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* gap: 5rem; */

}
main .txt{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
main .txt h1{
    /* margin-bottom: 1rem; */
    width: 50%;
    /* height: 30%; */
    /* font-weight: 800; */
    font-size: var(--h1);
    /* background-color: red; */
}
main h5{
    /* margin-bottom: 2rem; */
    color:var(--color5);
    /* height: 5vw; */
}
.cont{
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}
main .mainImg{
    width: 20vw;
    height: 30vw;
    position: absolute;
    top: 7vw;
    right: 10vw;
    z-index: 0;

}
main .service{
    width: 55vw;
    height: 100%;
    /* background-color: rebeccapurple; */
    margin-block : 13vw;
    display: flex;
    gap: 1rem;
}

main .service .servicetxt img{
    width: 13vw;
    height: 10vw;
    border-radius: 10px;
    position: relative;   
    z-index: 0;           
}

main .service .servicetxt h2{
    width: 13vw;
    font-size: 0.8rem;
    position: relative;   
    z-index: 1;           
    margin-top: -5vw;
    background-color: rgba(0, 0, 0, 0.386);
    color: white;
    text-align: center;
    padding: 1rem;
}
main .service span{
    margin-left: 15vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
main .service span h2{
    width: 50vh;
    /* background-color: red; */
}
main .service span p{
    color: var(--color5);
}
main .service span button{
    background-color: var(--color2);
    color: white;
}