* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Geist", sans-serif;
}

:root {
    --color1: #0A3139;
    --color2: #1B749C;
    --color3: #2e3192;
    --color4: #ff0000;
    --color5: #6D6B6B;
    --h1: 3rem;
    --radius: 1rem;
}

@font-face {
    font-family: "Geist";
    src: url("../Geist\,Montserrat\,Roboto/") format("truetype");
}

body {
    background-color: #f7f7f7;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* gap: 5rem; */
}

nav {
    width: 100%;
    height: 5vw;
    /* background-color: var(--color2); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 99;
    top: 0;
    margin-bottom: 5vw;
    background-color: white;
}

nav img {
    margin-left: 5vw;
    width: 10vh;
    height: 7vh;
    border-radius: 5px;
}

nav li {
    display: flex;
    gap: 3vw;
    margin-right: 5vw;
    list-style: none;
}

nav li ul a {
    text-decoration: none;
    color: var(--color5);
}

.btn {
    color: white;
    width: 15vw;
    padding: 1vw;
    border-radius: 10px;
    border: none;
}

.btn1 {
    background-color: var(--color2);
}

.btn2 {
    background-color: var(--color1);
}

.attirer {
    width: 70%;
    height: 25vw;
    /* background-color: red; */
    background-image: url("../img/background3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5vw;
    gap: 3rem;
}

.attirer h1 {
    font-size: 3rem;
    color: white;
}

.attirer .btn1 {
    background-color: var(--color2);
}

.attirer .btn2 {
    background-color: rgba(3, 91, 62, 0.392);
}